<div class="div-bg1">
    <div class="custom-container">
        <div class="row">
          <img src="../../assets/imgs/gg.png" class="gg-logo"/>
          <div class="right" style="margin-top: 50px">
            <a class="white-text" style="padding: 25px" >Reports</a>
            <a class="white-text" style="padding: 25px" >Download</a>
            <a class="white-text" style="padding: 25px" >Ranking</a>
            <a class="white-text" style="padding: 25px" (click)="toggleForm=true">Entrar</a>
            <a class="white-text" style="padding: 25px" (click)="toggleForm=false">Cadastrar</a>
          </div>
        </div>
        <div class="row" style="margin-top: 60px !important;">
          <div class="col l3 offset-l9 center white-text">
            <span (click)="toggleForm=true" class="pointer">Entrar</span> | <span (click)="toggleForm=false" class="pointer">Criar
              Conta</span>
          </div>
        </div>
      
        <ng-template [ngIf]="toggleForm" [ngIfElse]="cadastro">
          <div class="row">
            <div class="col l3 s12 offset-l9">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" [(ngModel)]="email">
                  <label for="email">Email ou gamertag</label>
                </div>
                <div class="input-field col s12">
                  <input id="password" type="password" [(ngModel)]="senha">
                  <label for="password">Senha</label>
                </div>
              </div>
              <a href="" class="white-text">Esqueceu sua senha ?</a>
              <button class="right btn waves-effect" (click)="logar()">
                Entrar
              </button>
            </div>
          </div>
        </ng-template>
        <ng-template #cadastro>
          <app-cadastro></app-cadastro>
        </ng-template>
      
      </div>
</div>
<div class="div-bg2">
</div>
<div class="div-bg3">
</div>
<div class="div-bg4">
</div>
<div class="div-bg5"></div>