/* You can add global styles to this file, and also import other style files */
.login-page {
  height: 100%;
  background-size: cover;
}

.custom-container {
  margin-left: 100px !important;
  margin-right: 100px !important;
}

html, body {
  margin: 0;
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.div-bg1 {
  background-image: url(./assets/imgs/bgs/1.png);
  background-size: contain;
  height: 100%;
  width: 100%;
}
.div-bg2 {
  background-image: url(./assets/imgs/bgs/2.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}
.div-bg3 {
  background-image: url(./assets/imgs/bgs/3.png);
  background-size: contain;
  height: 100%;
  width: 100%;
  
}
.div-bg4 {
  background-image: url(./assets/imgs/bgs/4.png);
  background-size: contain;
  height: 100%;
  width: 100%;
  
}
.div-bg5 {
  background-image: url(./assets/imgs/bgs/5.png);
  background-size: contain;
  height: 100%;
  width: 100%;
}

input {
  color: white !important;
}
