.font-ranking {
  font-size: 18px;
}

.font-ranking-number {
  font-size: 50px;
}

.font-ranking-cases {
  font-size: 12px;
}

.list-ranking {
  margin-top: 30px;
}

.logo {
  margin: 10px;
}

.menu-panel {
  background-color: #00060a;
  min-height: 100vh;
}

.feed-panel {
  background-color: #232323;
  overflow-y: scroll;
  height: 100vh !important;
}

.ranking-panel {
  background-color: #00060a;
  overflow-y: scroll;
  max-height: 100vh !important;
}

.avatar {
  padding: 6px;
  border: 2px solid #c51f28;
}

.avatar-container {
  margin-top: 60px;
}

#gamertag {
  font-size: 22px;
}

.cinza-tcc {
  color: #F0F0F0;
}

.azul-tcc {
  color: #49cde4;
}

.vermelho-tcc {
  color: #c51f28;
}

.cinza-mais-tcc {
  color: #6D6D6C;
}

.branco {
  color: white;
}

.details-item {
  font-size: 15px;
  padding: 8px
}

.ranking-number {
  font-weight: bold;
  font-family: "Lato", cursive, sans-serif;
  font-size: 65px;
  padding: 15px;
}

.ranking-game {
  font-size: 25px;
}

.ranking-detail {
  margin-top: 20px;
}

.report-card {
  background-color: #14171A;
}

a:hover {
  color: #49cde4;
}

html, body, a:hover {
  font-family: "Lato", cursive, sans-serif;
  font-size: 17px;
}

col l12 cinza-mais-tcc details-item, span:hover {
  color: #49cde4;
  cursor: pointer;
}

.hr-custom{
  margin-top: 0px; 
  margin-right: 10px;
  margin-bottom: 25px;
}

.ranking-item {
  margin-bottom: 6px !important;
}

.pointer {
  cursor: pointer;
}

.hr-trad {
  border-top: 1px solid #49cde4;
  border-bottom: none;
}

.hr-red {
  border-top: 2px solid #c51f28;
  border-bottom: none;
  margin-top: 0px;
}