<div class="row">
  <div class="col l2 menu-panel fixed">
    <br>
    <div class="center avatar-container">
      <img src="../../assets/imgs/avatars/{{user.avatar}}" class="circle avatar" alt="" width="170" height="170">
      <div class="row">
        <br>
        <span class="col l12 cinza-tcc" id="gamertag">{{user.gamertag}}</span>
        <span class="col l12 azul-tcc">{{user.email}}</span>
      </div>
      <br>
      <div class="row details">
        <span class="col l12 cinza-mais-tcc details-item"> Casos Reportados</span>
        <span class="col l12 cinza-mais-tcc details-item"> Capturas de Tela</span>
        <span class="col l12 cinza-mais-tcc details-item"> Jogos Registrados</span>
      </div>
    </div>
  </div>


  <div class="col l7 feed-panel">
    <nav>
      <div class="nav-wrapper black">
        <a href="#" class="brand-logo"><img src="../../assets/imgs/gg.png" height="50" class="logo" /></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a>Configurações</a></li>
          <li><a>Sobre</a></li>
          <li><a (click)="logout()">Sair</a></li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col l12" *ngFor="let post of posts">
        <div class="card report-card">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><span class="cinza-tcc">Sofri Assédio no </span><span
                class="vermelho-tcc">{{post.jogo}}</span></span>
            <div class="row">
              <div class="col s1" style="margin-right: -18px;">
                <img src="../../assets/imgs/avatars/{{user.avatar}}" class="circle" alt="" width="50" height="50">
              </div>
              <div class="col s10" style="margin-top: 4px;">
                <span class="azul-tcc">{{post.gamertag}}</span>
                <p class="cinza-mais-tcc">{{post.description}}</p>
              </div>
            </div>
          </div>
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://tccbackend.herokuapp.com/public/{{post.imagem}}">
          </div>

          <div class="card-action">
            <a (click)="likeReport(post._id)" class="pointer">{{post.likes}} Dar suporte</a>
            <a (click)="toggleComment(post._id)" class="pointer">Comentários</a>
          </div>

        </div>
        <div class="report-card">
          <div *ngIf="showComment[post._id]">
            <div *ngFor="let comment of comments[post._id]">
              <div class="row" style="margin:-10px 10px !important; ">
                <div class="col s1">
                  <br>
                  <img class="white-text" width="50" height="50" src="../../assets/imgs/avatars/{{comment.avatar}}" />
                </div>
                <div class="col s11">
                  <h5 class="white-text" style="font-size: 13px;">{{comment.gamertag}}</h5>
                  <h5 class="cinza-mais-tcc" style="font-size: 18px;">{{comment.comentario}}</h5>
                  <br>
                </div>
              </div>
              <hr>
            </div>
            <div class="row" style="padding: 15px">
              <div class="col s1">
                <br>
                <img class="white-text" width="60" height="60" src="../../assets/imgs/avatars/{{user.avatar}}" />
              </div>
              <div class="col s11">
                <h5 class="white-text" style="font-size: 14px;">{{user.gamertag}}</h5>
                <input type="text" [(ngModel)]="com">
                <button class="btn right" (click)="addComment(post._id)">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col l3 ranking-panel">
    <div class="row">
      <h5 class="col l12 cinza-tcc">Ranking de jogos reportados</h5>
    </div>
    <div *ngFor="let item of rankingPos; let i = index">
      <div class="row ranking-item">
        <div class="col l3">
          <span class="ranking-number vermelho-tcc">{{i+1}}º</span>
        </div>
        <div class="col l9" style="margin-top: 20px;">
          <div class="col l12">
            <span class="ranking-game branco">{{item}}</span>
          </div>
          <div class="col l12">
            <span class="ranking-detail cinza-mais-tcc">{{ranking[item]}} Casos reportados</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<style>
  /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #00070C;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #49cde4;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>